@font-face {
  font-family: "Roboto", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 21px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-conteiner,
.footer-conteiner {
  background: rgba(0, 103, 163, 1);
  display: flex;
  justify-content: center;
}
.header,
.footer {
  width: 1240px;
  height: 55px;
  display: flex;
  justify-content: space-between;
}
.header h2 {
  font-size: 28px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}
.profile-conteiner {
  user-select: none;
  cursor: pointer;
  margin-right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
}
.prfile-photo {
  width: 26px;
  height: 34px;
  margin-top: 5px;
}
.profile-arrow {
  width: 12px;
  height: 8px;
}
.up {
  display: none;
}
.profile-dropdown-say {
  background: rgba(255, 255, 255, 1);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 100%;
  left: 17%;
  transform: rotate(45deg);
}
.profile-dropdown {
  padding: 0;
  width: 135px;
  position: absolute;
  list-style: none;
  top: 80%;
  right: -40%;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.profile-dropdown-item {
  font-size: 14px;
  width: 90%;
  margin-left: 7px;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.profile-dropdown-item:hover {
  background: rgb(205, 205, 205);
}
main {
  background: rgb(39, 146, 207);
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
  justify-content: space-around;
  width: 1240px;
  height: 86.5vh;
}
.task-list {
  margin-top: 20px;
  width: 280px;
  max-height: 680px;
  background: rgba(235, 236, 240, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: max-content;
}
.task-header {
  margin: 12px 0px 0px 12px;
}
.task-items {
  overflow-y: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.task-item {
  margin: 22px 12px 0 12px;
  padding: 7px 0 7px 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  transition: all 0.2s;
}
.task-item:hover {
  background: rgb(205, 205, 205);
}
.task-input {
  display: none;
  margin: 22px 12px 0 12px;
  padding: 7px 0 7px 8px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
}
.task-input_item {
  box-sizing: content-box;
  width: 95%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.task-add_btn {
  margin: 17px 0 8px 12px;
}
.task-add_btn:hover {
  opacity: 0.5;
}
.btn {
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  width: 105px;
  height: 30px;
  color: rgba(94, 108, 132, 1);
}
.submit-card-btn {
  display: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 121, 191, 1);
}
.result-task {
  display: flex;
  margin-left: 20px;
  padding-top: 15px;
}
.footer span {
  color: white;
}
.product {
  padding-top: 15px;
  margin-right: 20px;
}
.dropdown_conteiner {
  display: none;
  margin: 22px 12px 0 12px;
  padding: 7px 0 7px 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  position: relative;
}
.dropdown_btn {
  width: 100%;
  background: none;
  border: 0;
  font-size: 18px;
  text-align: right;
}
.dropdown_btn span {
  padding-right: 10px;
}
.dropdown_list {
  max-height: 300px;
  position: absolute;
  border-radius: 5px;
  overflow-y: auto;
  width: 90%;
  top: 110%;
  background: rgba(255, 255, 255, 1);
  margin: 0;
  padding-left: 7px;
  list-style: none;
}
.dropdown_item {
  width: 90%;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s;
}
.dropdown_item:hover {
  background: rgb(205, 205, 205);
}
.description-conteiner {
  width: 82%;
  height: 86.5vh;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
}
.description-conteiner p {
  width: 620px;
  height: 200px;
  margin-top: 35px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 21px;
  overflow: hidden;
  white-space: normal;
}
.description-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 22px;
}
.description-header h3 {
  margin-top: 22px;
  margin-left: 28px;
}
.description-close-btn {
  box-sizing: content-box;
  border: 0;
  margin-top: 17px;
  width: 25px;
  height: 25px;
  background: none;
  cursor: pointer;
}
.description-close-left {
  margin: 0;
  padding: 0;
  width: 32.53px;
  height: 0px;
  border: 1px solid #000000;
  transform: rotate(135deg);
}
.description-close-right {
  margin: 0;
  padding: 0;
  width: 32.53px;
  height: 0px;
  border: 1px solid #000000;
  transform: rotate(45deg);
}
.description-area {
  width: 620px;
  height: 200px;
  margin-top: 35px;
  margin-left: 30px;
}
.description-btn-change {
  margin-top: 30px;
  margin-left: 28px;
  background: rgb(39, 146, 207);
  color: white;
  height: 50px;
  width: 150px;
}
.description-btn-change:hover {
  font-weight: 700;
  opacity: 0.85;
}

@media (max-width: 1130px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 560px) {
  main {
    height: 64rem;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
  .header h2 {
    display: none;
  }
  .profile-dropdown {
    width: 100px;
    right: -22%;
  }
  .task-list {
    margin-bottom: 40px;
  }
  .footer-conteiner {
    display: none;
  }

  .description-conteiner {
    width: 85%;
    height: 70%;
    margin-top: 10px;
  }
  .description-conteiner p {
    width: 80%;
  }
  .description-header {
    width: auto;
  }
  .description-header h3 {
    margin-top: 22px;
    margin-left: 0px;
  }
  .description-close-btn {
    margin-top: 5px;
    margin-right: 10px;
  }
  .description-area {
    width: 80%;
  }
  .description-btn-change {
    margin-bottom: 50px;
  }
}
